/* board.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Stops content from expanding the browser viewport */
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.left-side,
.right-side {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10rem;
}

.actions,
.player-deck {
  background: #1f242d;
  display: flex;
  flex-direction: column;
  border: 1px solid #3b4252;
  border-radius: 8px;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.hpEnergy {
  background: #1f242d;
  border: 1px solid #3b4252;
  border-radius: 8px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 1rem;
}

.hp {
  background-color: #4a515e;
  height: 20%;
  width: fit-content;
  min-width: 20%;
}

.energy {
  background-color: #4a515e;
  height: 20%;
  width: fit-content;
  min-width: 20%;
}

.board {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  min-height: 0;
}

.lanes {
  flex: 1;
  background: #181b20;
  border: 1px solid #2e3440;
  border-radius: 12px;
  padding: 1em;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lane-enemy,
.lane-player {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px dashed rgba(255, 255, 255, 0.1);
}

.card-slot {
  height: 100%;
  max-height: 100%;
  aspect-ratio: 5 / 8;

  border: 2px dashed rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: border-color 0.2s ease;
  box-sizing: border-box;
}

.card-slot:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.player-hand {
  height: 25%;
  flex-shrink: 0;
  background: #181b20;
  border: 1px solid #2e3440;
  border-radius: 12px;

  /* Flexbox settings for holding multiple cards */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
  overflow-x: auto; /* Allows scrolling if you have lots of cards in hand */
}
