* {
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121418; 
  color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Flexbox & Layout Helpers */
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.padding-1 {
  padding: 1em;
}
.margin-1 {
  margin: 1em;
}
.gap-1 {
  gap: 1em;
}
